<!DOCTYPE html>
<html>
<head>
    <title>Add Password</title>
</head>
<body>
    <h1>Add New Password</h1>

    <form method="POST">
        {% csrf_token %}
        Website:
        <input type="text" name="website" required>

        Username:
        <input type="text" name="username" required>

        Password:
        <input type="password" name="password" required>

        <button type="submit">Save</button>
    </form>

    <hr>

    <button onclick="document.getElementById('table').style.display='block'">
        Show Passwords
    </button>

    <div id="table" style="display:none;">
        <h2>Saved Passwords</h2>

        <table border="1" cellpadding="8">
            ...
        </table>
    </div>


    <table border="1" cellpadding="8">
        <tr>
            <th>Website</th>
            <th>Username</th>
            <th>Password</th>
        </tr>

        {% for p in passwords %}
        <tr>
            <td>{{ p.website }}</td>
            <td>{{ p.username }}</td>
            <td>
                <span id="pwd-{{ p.id }}">••••••</span>

                <button type="button" onclick="togglePassword({{ p.id }})">
                    Show
                </button>

                <button type="button" onclick="copyPassword({{ p.id }})">
                    Copy
                </button>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No passwords saved yet</td>
        </tr>
        {% endfor %}
    </table>

    <script>
    function togglePassword(id) {
        const span = document.getElementById(`pwd-${id}`);

        if (span.innerText === "••••••") {
            fetch(`/reveal/${id}/`)
                .then(res => res.json())
                .then(data => {
                    span.innerText = data.password;
                });
        } else {
            span.innerText = "••••••";
        }
    }

    function copyPassword(id) {
        const span = document.getElementById(`pwd-${id}`);

        if (span.innerText === "••••••") {
            alert("Click Show first!");
            return;
        }

        navigator.clipboard.writeText(span.innerText)
            .then(() => alert("Password copied!"));
    }
    </script>




    <a href="/passwords/">Back to Passwords</a>
</body>
</html>
